.agent {
    background: #fff;
    padding: 20px;
    margin: 16px 0;
}

.agent:first-child {
    margin-top: 0;
}

.agent:last-child {
    margin-bottom: 0;
}

.agent-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add-resource-wrapper {
    position: relative;
}
