html, body, #root {
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ccc;
}

header {
    text-align: center;
    background: #fff;
    padding: 10px 0;
}

footer {
    text-align: center;
    background: #fff;
    padding: 10px 0;
}

.content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex: 1;
}

.sidebar-wrapper {
    width: 25%;
    padding: 0 16px;
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    background: #069;
}

.main {
    width: 75%;
    padding: 0 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.state-cards {
    display: flex;
    margin: 16px -16px 8px -16px;
}

.state-card {
    flex: 1;
    background: #960;
    height: 120px;
    margin: 0 16px;
    padding: 20px;
}

.toolbar {
    background: #fff;
    margin: 8px 0;
    padding: 10px;
}

.agent-list-wrapper {
    flex: 1;
    margin: 8px 0 0 0;
    overflow: auto;
}

.agent-list {
    padding: 0;
    list-style: none;
    font-size: 14px;
    margin: 0;
}

.agent {
    background: #fff;
    padding: 20px;
    margin: 16px 0;
}

.agent:first-child {
    margin-top: 0;
}

.agent:last-child {
    margin-bottom: 0;
}

.agent-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resource-modal {
    position: absolute;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    padding: 20px;
}

.resources-list {
    list-style: none;
    margin: 10px -10px;
    padding: 0;
}

.resource-item {
    list-style: none;
    display: inline-block;
    margin: 3px;
    padding: 0;
}

.remove {
    cursor: pointer;
}

.remove:hover {
    background: #999;
}
